/* Обнуляющий стиль */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*------------------------------------------------------*/

* {
    padding: 0;
    margin: 0;
    /* color: #1a1f36; */
    color: #ffffff;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: 'google sans', Roboto, Segoe UI, sans-serif;
}

body {
    min-height: 100%;
    /* background-color: #ffffff; */
}

.webp body {
    background-image: url('background_next_2023_empty.webp');
}

.no-webp body {
    background-image: url('background_next_2023_empty.png');
}

.bg-cover {background-repeat: no-repeat; background-position: center center; background-size: cover; -webkit-background-size: cover;}
.bg-fixed {background-attachment: fixed;}

.character {
    display: flex;
    padding-top: 50px;
}

.glad {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glad > div {
    margin-bottom: 15px;
}

span, div.result, li {
    display: block;
    font-size: 20px;
    line-height: 28px;
    /* color: #1a1f36; */
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: 600;
    display: block;
    /* margin-bottom: 10px; */
    margin-left: 15px;
    margin-bottom: 4px;
}

label img {
    vertical-align: middle;
    margin-right: 4px;
}

a {
    color: #add454;
    text-decoration: unset;
}

a:hover {
    color: #c3ef5f;
    text-decoration: unset;
}

input {
    font-size: 16px;
    line-height: 28px;
    padding: 2px 8px;
    border-radius: 4px;
    background-color: rgba(26, 26, 26, 0.71);
    min-width: 250px;
    border: 2px solid rgba(98, 98, 98, 0.71);
    -webkit-appearance: none;
    
}

input:hover {
    background-color: rgba(26, 26, 26, 0.8);
    border: 2px solid rgba(128, 128, 128, 0.8);
}

input:focus {
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
}

input[type="submit"] {
    display: block;
    margin: 20px auto;
    min-width: 0px;
    padding: 8px 48px;
    border: none;
    border-radius: 6px;
}

input[type="submit"]:hover {
    color: rgb(217, 217, 217);
}

.battle-log {
    display: flex;
    justify-content: center;
}

.battle-log>ol {
    /* text-align: center; */
    padding: 10px;
    list-style: none;
    flex: 0 0 50%;
}

.battle-log>ol:first-child {
    text-align: right;
}

.battle-log>ol:last-child {
    text-align: left;
}

.battle-log>ol > li, div.result {
    animation: showLog 1s linear forwards;
}

@keyframes showLog {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

div.result {
    text-align: center;
    padding-bottom: 30px;
}

li > span, li {
    font-size: 16px;
    margin-bottom: 10px;
    display: revert;
}

li.attack {
    color: #7c7c7c;
}

li.attack.crit {
    color: rgb(223, 128, 32);
}

li.current-hp {
    color: #ffffff;
}

span.green {
    color: rgb(96, 223, 32);
}

span.yellow {
    color: #cfdf20;
}

span.red {
    color: #df2020;
}

@media (max-width: 584px) {
    .character {
        flex-direction: column;
    }
}

select {
    background-color: rgba(26, 26, 26, 0.71);
    padding: 8px;
    border-radius: 4px;
}

select:hover {
    background-color: rgba(26, 26, 26, 0.8);
}

option {
    background: rgb(26, 26, 26);
    color: #ccc;
}
